@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-black: #1A1A1A;
    --text-light-color: #c9c9c9;
    --text-white-color: #f1f1f1;
    --primary-color: #DD5117;   
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    background: url('./images/background.webp') no-repeat center center fixed;
    background-color: var(--primary-black);
    background-size: cover;
    /* max-width: 100vw; */
    /* min-height: 100vh; */
    font-family: "Inter", sans-serif;
    /* overflow-x: hidden; */
}

body .blur-overlay {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    background-size: 100%;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Header Styling */
.header {
    color: var(--text-light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.header .logo-div {
    width: 45px;
    height: 45px;
    background-color: var(--text-white-color);
    z-index: -1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin-right: .6em;
}

.header .logo-text {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-white-color);
    font-weight: 500;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.header .nav-bar-container {
    margin-left: auto;
}

.header .nav-bar-container ul {
    display: flex;
    align-items: center;
    gap: 2em;
    list-style-type: none;
    margin-left: 1em;
}

.nav-bar-container ul li{
    cursor: pointer;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 1.1rem;
}

nav a {
    transition: color 0.2s ease;
    position: relative;
}

nav a::before {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    width: 0%;
    bottom: -5px;
    left: 0;
    height: 3px;
    border-radius: 6px;
    transition: width 0.2s linear;
}

nav ul li a:hover {
    color: var(--text-white-color);
}

nav a:hover::before {
    width: 100%;
}

.nav-bar-container ul a.active {
    color: var(--text-white-color);
}

nav a.active::before {
    width: 100%;
}

/* Search Field */
.header .search-field {
    position: relative;
    margin-left: auto;
}

.header .search-field .search-input {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--primary-color);
    border-radius: 20px;
    padding: 0.6em;
    background-color: rgba(0, 0, 0, 0.2);
    font-family: inherit;
    padding-left: 2.4em;
    font-size: 1rem;
    color: var(--text-white-color);
}

.search-field .search-icon {
    position: absolute;
    content: "";
    top: 12px;
    left: 12px;
}

/* Hero section styling */
.hero-food-recipe {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 2em auto 0;
    color: var(--text-white-color);
    padding-bottom: 2em;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.hero-recipe {
    width: 60%;
}

.hero-recipe .hero-food-name,
.popup-recipe .food-name {
    margin-bottom: 1em;
    border-left: 4px solid var(--primary-color);
    width: 60%;
    padding-left: .6em;
}

.hero-recipe .food-recipe-instruction,
.popup-recipe .food-recipe {
    font-weight: 400;
    margin-bottom: 1em;
    line-height: 1.5;
}

.hero-recipe .hero-ingredients-list li,
.ingredients-list li {
    list-style-type: circle;
    list-style-position: inside;
}

.nav-bar-container ul li a {
    color: var(--text-light-color);
    text-decoration: none;
}

.hero-food-recipe .hero-food-image,
.popup-window .popup-image-link img{
    border-radius: 40px;
    border-bottom: 3px solid var(--primary-color);
    border-right: 3px solid var(--primary-color);
    padding: 1em;
    object-fit: 100%;
}

.hero-food-img-and-play-icon {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
}

.hero-food-img-and-play-icon a, .popup-watch-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6em;
    margin-top: 2em;
    text-decoration: none;
    color: var(--text-white-color);
}

.hero-food-img-and-play-icon a:hover, 
.popup-watch-link:hover {
    text-decoration: underline;
}

.hero-food-img-and-play-icon a svg,
.popup-watch-link svg {
    background-color: #DD5117;
    padding: .3em;
    border-radius: 50%;
    transition: transform 0.4s ease;
}

a svg:hover {
    transform: scale(1.1);
}

/* Filtered Meals Sectoin */
main .hero-filtered-meals {
    color: var(--text-white-color);
    margin-top: 4em;
    padding-bottom: 2em;
    text-align: center;
    display: none;
}

main .hero-filtered-meals h3{
    font-size: 2rem;
    border-bottom: 2px solid var(--primary-color);
    display: inline;
}

.hero-filtered-meals > p {
    margin-top: 1em;
    color: var(--text-light-color);
    font-size: 1.2rem;
}

span.search-for {
    font-style: italic;
}

main .filtered-meals-container {
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 90%;
    margin: 0 auto;
    padding: 2em;
    grid-gap: 1em;
    margin-top: 4em;
    /* grid-template-columns: repeat(auto-fill, minmax(240px)); */
}

/* ===============
   Ingredients Page
   ===============
*/
main .categories-heading {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: var(--text-white-color);
    margin-top: 1em;
    letter-spacing: 1.3px;
}

main .hr-line {
    background-color: rgba(255, 255, 255, 0.3);
    height: 2px;
    border: none;
    width: 60%;
    margin: 2em auto 0;
}

.ingredients-and-mealslist {
    max-width: 100vw;
    display: flex;
}

.ingredient-message {
    color: var(--text-light-color);
}

.ingredients {
    border-right: 2px solid rgba(255, 255, 255, 0.3);
    margin: 3em 0 0 3em;
}

.aside-container {
    margin-top: 2em;
    color: var(--text-white-color);
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    border-top-left-radius: 10px;
    padding-top: 2em;
    padding-left: 2em;
}

.aside-container h2 {
    font-weight: 500;
}

.aside-meals-list {
    margin-top: 2em;
    list-style-position: inside;
    list-style-type: decimal;
}

.aside-meals-list li {
    line-height: 2;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    cursor: pointer;
}

.aside-meals-list li:hover {
    color: var(--text-light-color);
}

.categories, 
.meal-cards-container, 
.filtered-meals-container {
    display: grid;
    max-width: 100%;
    width: 70%;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 4em .5em;
    padding-bottom: 3em;
    margin: 3em 2em 0;
}

.food-item-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 300px;
    color: var(--text-light-color);
    border-radius: 30px;
    padding: 1em;
    outline: 2px transparent;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    border-right: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.hide {
    display: none;
}

.show {
    display: flex;
}

/* .food-item-card::after {
    position: absolute;
    content: "";
    width: 250px;
    height: 15%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    bottom: 0;
    background: linear-gradient(to top, var(--primary-black), #1A1A1A, transparent);
    filter: blur(10px);
} */

.food-item-card:hover {
    /* outline: 2px solid var(--primary-color);
    outline-offset: 10px; */
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 0 8px var(--primary-color);
}

.meal-cards-container .card-food-item-header {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    width: 100%;
}

.card-food-item-header .heart-icon {
    /* margin-right: 1em; */
    cursor: pointer;
    fill: rgba(255, 255, 255, 0.3);
}

.heart-icon.liked {
    fill: red;
}

.food-item-card .card-food-img {
    margin-top: -3.4em;
    filter: drop-shadow(0 5px 15px var(--primary-black));
    transition: transform 0.4s ease;
}

.food-item-card:hover .card-food-img {
    transform: translateY(-3px);
}

.meal-cards-container .card-food-description {
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: .9rem;
    overflow-y: auto;
    cursor: text;
}

/* Card Scrollbar */
.card-food-description::-webkit-scrollbar,
.sidebar-form::-webkit-scrollbar,
.popup-recipe::-webkit-scrollbar {
    width: 3px;
    border-radius: 10px;
    background: transparent;
}

.card-food-description::-webkit-scrollbar-thumb,
.sidebar-form::-webkit-scrollbar-thumb, 
.popup-recipe::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

.card-food-description:hover::-webkit-scrollbar,
.sidebar-form:hover::-webkit-scrollbar, 
.popup-recipe:hover::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.1);
}

.card-food-description:hover::-webkit-scrollbar-thumb,
.sidebar-form:hover::-webkit-scrollbar-thumb, 
.popup-recipe:hover::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

.toggle-container {
    top: 0;
    right: 0;
    background-color: #c9c9c9;
    width: 400px;
    padding: 2em;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.ingredient-meals-list {
    list-style-type: circle;
    list-style-position: inside;
}


/* ===================
   Country Cuisine Page
   ===================
*/

.country-cuisine-container {
    position: relative;
    min-height: 130vh;
}

.country-cuisine {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 2em 1em;
    width: 77%;
    margin-left: auto;
}

aside {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 15px;
    padding: 1em;
    padding-right: 0;
    width: 15%;
    margin-left: 2em;
    height: 700px;
    overflow-y: hidden;
}

aside .sidebar-form {
    display: flex;
    flex-direction: column;
    gap: .7em;
    height: 89%;
    overflow-y: auto;
}

.sidebar h3 {
    color: var(--text-white-color);
    font-weight: 500;
    margin-bottom: 1em;
}

.sidebar-form .option-container label {
    color: var(--text-light-color);
    cursor: pointer;
    transition: color 0.2s ease;
}

.option-container label:hover {
    color: var(--text-white-color);
}

/* .option-container input[type="radio"]:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
} */

input[type="radio"] {
    accent-color: var(--primary-color);
}

.country-meal-card, .meal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .1);
    transition: background-color .2s ease, transform 0.2s ease;
    border: 1px solid transparent;
}

.country-meal-card:hover, .meal-card:hover {
    background-color: rgba(255, 255, 255, .2);
    border: 1px solid var(--text-light-color);
    transform: translateY(-2px);
}

.country-meal-card .meal-card-img, .meal-card .meal-card-img {
    border-radius: 50%;
    border: 3px solid var(--text-light-color);
    transition: transform 0.4s ease;
}

.country-cuisine .country-meal-name, .meal-card .meal-card-name {
    text-align: center;
    color: var(--text-white-color);
    font-weight: 400;
}

.popup-window {
    position: fixed;
    display: none;
    overflow: hidden;
    min-height: 500px;
    z-index: 4;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 5%);
    top: 0;
    width: 80%;
    height: 90%;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 2px solid var(--text-light-color);
    color: var(--text-light-color);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}

.popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: .5em 2em;
    background-color: rgba(255, 255, 255, 0.2);
}

.popup-header h1 {
    color: var(--text-white-color);
}

.popup-header .close-icon {
    cursor: pointer;
    transition: fill 0.3s ease;
    position: relative;
}

.popup-header .close-icon:hover {
    fill: var(--primary-color);
}

.close-icon:hover::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--text-light-color);
}

.popup-content {
    display: flex;
    height: 90%;
    gap: 2em;
    padding-left: 2em;
    padding-top: 2em;
    padding-right: .5em;
    padding-bottom: 2em;
    color: var(--text-white-color);
}

.popup-recipe {
    height: 100%;
    overflow: auto;
    margin-bottom: 1em;
}

.popup-recipe .food-name {
    font-weight: 500;
}

.popup-recipe .food-recipe {
    font-weight: 400;
    font-size: 1rem;
}

/* ===============
   Contact US Page
   ===============
 */

.contact-us-container {
    color: var(--text-white-color);
    width: 90%;
    margin: 0 auto;
}

.contact-us-container h1 {
    text-align: center;
    margin-bottom: 1em;
}

.contact-us-container div p {
    width: 80%;
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 0 auto;
}

.contact-us-container .about-me p {
    padding: 1em 2em;
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.4);
    border-right: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
}

.about-me p svg {
    margin-right: .3em;
    fill: var(--text-white-color);
    cursor: pointer;
    transition: fill 0.4s ease;
}

.about-me p svg:hover {
    fill: var(--primary-color);
}

.contact-us-container .contact-form-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 3em;
    background-color: #1A1A1A;
}